footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  gap: 32px;
  align-self: stretch;
  text-align: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer__heading {
  color: var(--gray-900, #101828);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
}

.footer__subheading {
  color: var(--gray-500, #667085);
  font-size: 20px;
  line-height: 30px;
}

.footer__content-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer__form,
.form__button {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.footer__form {
  width: 50%;
  padding: 0.7rem 0.8rem 0.7rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
}

.footer__form::placeholder {
  color: var(--gray-500, #667085);
}

.footer__form:focus {
  border-color: #101828;
  outline: none;
}

.form__button {
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--red, #8E2424);
  border-radius: 8px;
  background: var(--red, #8E2424);
  color: var(--base-white, #FFFFFF);
  cursor: pointer;
}

.form__button:hover {
  background: #752222;
}

.form__button:active {
  background: #6a1d1d;
}

.span-copyright {
  color: var(--gray-400, #98A2B3);
  line-height: 24px;
}