header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-text,
.navbar__link,
.button {
  font-weight: 500;
}

.navbar__link,
.button {
  color: var(--gray-500);
}

.header__logo {
  margin: 0 9rem;
}

.header__logo-text {
  margin-left: 0.5rem;
  font-size: 18px;
}

.header__pages {
  margin-right: auto;
}

.header__pages-navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__buttons {
  margin-right: 5rem;
}

.button {
  margin: 0 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.register-button {
  background: var(--red);
  color: var(--base-white);
  border: 1px solid var(--red);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}