.metrics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 0 6rem 6rem 6rem;
}

.metrics__item {
  margin: 0 2rem;
}

.metrics__number,
.metrics__title,
.metrics__text {
  align-self: stretch;
}

.metrics__number {
  color: var(--red);
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.2px;
}

.metrics__title {
  color: var(--gray-900);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.metrics__text {
  color: var(--gray-500);
  font-weight: 24px;
  line-height: 24px;
}