.vacancies__talents {
  text-align: center;
}

.talents__content-badge {
  padding: 0.25rem 0.75rem;
  border-radius: 16px;

  color: var(--red);
  background-color: #8E24240D;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.talents__content-title {
  margin: 1rem 0 1.25rem 0;
  color: var(--gray-900);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
}

.talents__content-text {
  color: var(--gray-500);
  font-size: 20px;
  line-height: 30px;
}

.talents__image {
  margin: 4rem 0;
}

.vacancies__container {
  width: 50%;
  padding: 0 2rem;
  margin: 4rem auto;
  text-align: left;
}

.vacancies__title,
.vacancie__title {
  font-weight: 500;
  color: var(--gray-900);
}

.vacancies__title {
  font-size: 20px;
  line-height: 30px;
}

.vacancie__title {
  font-size: 18px;
  line-height: 28px;
}

.vacancie {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  margin: 1.5rem 0;

  border-radius: 16px;
  border: 1px solid var(--gray-200);
  background-color: var(--base-white);
}